div.article(ng-controller="ArticleCtrl" ng-init="init()")
	div.row
		div.back
			a(ng-href="blog").pull-right.btn.btn-default.btn-xs.btn-success Go back
		div.col-lg-12.section-header
			h1(ng-bind-html="article.article.title")
			div.text-muted
					small
						em by 
							span.text-info {{ article.article.author }} 
							| - {{ article.article.created_at |date:'dd-MMM-yyyy' }}
					span.pull-right
						span Comments 
						a.badge.has-tooltip(href="/blog/article/{{article.article.slug}}#comments"  target="_self" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment" ) {{ article.article.comments.length }}
	br
	div.tags.col-lg-6
		span.label.label-default.label-info(ng-repeat="(key, tag) in article.article.tags" style="margin-right:2px;") {{ tag }}
	div.social.col-lg-6
		div.pull-right
			a.badge.has-tooltip(href="https://twitter.com/share?url=http://nicolasbrrugneaux.me/blog/article/{{article.article.slug}}&via=nbrugneaux&text={{article.article.title}} -" class='icomoon-{{data.links.social[0].class}}' target="_blank" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Tweet" ) 
			a.badge.has-tooltip(href="https://www.facebook.com/sharer/sharer.php?u=http://nicolasbrrugneaux.me/blog/article/{{article.article.slug}}" class='icomoon-{{data.links.social[2].class}}' target="_blank" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Share" ) 
	br


	hr
	div.article-body.align-justify
		div.body(ng-bind-html-unsafe="article.article.body")
	hr
	div.row#comments(ng-switch="article.article.comments.length > 0")
		div.col-lg-12
			h2 Comments
			div.comment.col-lg-12.align-center(ng-switch-when="false")
				p
					em There isn't any comment yet. Add one? 
				hr
			div.comments(ng-switch-when="true")
				div.row.comment(ng-repeat="(key, comment) in article.article.comments")
					blockquote
						p
							i {{ comment.body}}
						small {{ comment.author }}
							br
							| {{ comment.created | date:'dd-MMM-yyyy hh:mm' }}
					hr
	div.row.add-comment
		form.form(role="form" name="commentForm" novalidate)
			div.row.col-lg-12
				div.form-group.col-lg-6(ng-class="{'has-error':commentForm.author.$error.required&&article.validated_once}")
					label.sr-only(for="author") Name
					input.form-control(type="text" id="author" name="author" ng-model="article.add_comment.author" placeholder="Enter your name..." required)
				div.form-group.col-lg-6(ng-class="{'has-error':commentForm.email.$error.email||(commentForm.email.$error.required&&article.validated_once)}")
					label.sr-only(for="email") Email
					input.form-control(type="email" id="email" name="email" ng-model="article.add_comment.email" placeholder="Enter your email..." required)
			div.form-group.col-lg-12(ng-class="{'has-error':commentForm.body.$error.required&&article.validated_once}")
				label.sr-only(for="body") Message
				textarea.form-control(type="textarea" id="body" name="body" ng-model="article.add_comment.body" rows="3" placeholder="Enter your message..." required)
			div.col-lg-12
				button.btn.btn-default.btn-info.col-lg-12(type="submit" ng-click="add_comment()") Send comment.