div.contact
	div.row
		div.col-lg-12.section-header
			h1 Contact
			p
				| A suggestion, an idea or just a question? Feel free to contact me by any of these means down below.
			p
				| Some feedback is always appreciated.
	hr
	div.row
		div.col-lg-12
			div.col-lg-6.contact-details
				dl.dl-horizontal
					dt.coordinates.coordinates-phone
						span.typcn.typcn-phone
					dd
						| {{ data.info.phone }}
					dt.coordinates.coordinates-mail
						span.typcn.typcn-mail
					dd
						a(href="mailto:{{ data.info.email }}") {{ data.info.email }}
				hr
				ul.list-inline.social-icons
					li(ng-repeat="item in data.links.social")
						a.has-tooltip(target="_blank" href="{{ item.link }}" data-toggle="tooltip" data-placement="bottom" title="{{ item.name }}" data-original-title="{{ item.name }}")
							span(class="typcn typcn-social-{{ item.class }}")
			div.col-lg-6
				form.form(role="form" action="/contact" method="POST")
					div.form-group.col-lg-12
						label.sr-only(for="name") Name
						input#mail_name.form-control(type="input" placeholder="Enter your name...")
					div.form-group.col-lg-12
						label.sr-only(for="name") Email
						input#mail_email.form-control(type="email" placeholder="Enter your email...")
					div.form-group.col-lg-12
						label.sr-only(for="name") Message
						textarea#mail_message.form-control(type="textarea" rows="5" placeholder="Enter your message...")
					div.col-lg-12
						button.btn.btn-default.btn-success.col-lg-12(type="submit") Send
	