div.home
	div.row
		div.col-lg-12.section-header
			h1 Welcome
			p
				| On my personal website. My name is 
				a(href="/about") Nicolas Brugneaux 
				| and I'll be your guide around here... 
				span.icomoon-wink
			a.btn.btn-default.btn-success(ng-href="/about")
				| Learn more. »
	hr