div.skills
	div.row
		div.alert.alert-success
				h1 Skills
				p
					| I am a software developer... well, I'm studying to become a worthy one. 
					span.icomoon-wink
				p
					| I love discovering new things, tweaking existing things and I'm charmed by everything around web development. Especially the back-end part, I 
					span.icomoon-heart
					|  it.

	div.row
		div.col-lg-12
			h2 Programming languages
			div.col-lg-4
				h3 Web Development
				hr
				ul.list-unstyled
					li
						strong Server
						br
					li
						strong PHP
						br
						div.skill-details
							span.label.label-default CodeIgniter
							span.label.label-default CakePHP
						div.progress
							div.progress-bar.progress-bar-success(style="width: 90%")
						
					li
						strong Python
						br
						div.skill-details
							span.label.label-default Django
							span.label.label-default Flask
							span.label.label-default Flask-Restless
						div.progress
							div.progress-bar.progress-bar-success(style="width: 90%")
					li
						strong JavaScript
						br
						div.skill-details
							span.label.label-info Node.js
							span.label.label-info Express.js
							span.label.label-info Grunt.js
						div.progress
							div.progress-bar.progress-bar-info(style="width: 50%")
					br
					li
						strong Client
						br
						li
							strong HTML5
							br
							div.progress
								div.progress-bar.progress-bar-success(style="width: 90%")
						li
							strong CSS3
							br
							div.skill-details
								span.label.label-default { LESS }
							div.progress
								div.progress-bar.progress-bar-success(style="width: 80%")
						li
							strong JavaScript
							br
							div.skill-details
								span.label.label-default JQuery
								span.label.label-info Angular.js
								span.label.label-info CofeeScript
							div.progress
								div.progress-bar.progress-bar-success(style="width: 70%")
								div.progress-bar.progress-bar-info(style="width: 25%")

			div.col-lg-4
				h3 Object Oriented
				hr
				ul.list-unstyled
					li
						strong Java
						br
						div.skill-details
							span.label.label-default Android
						div.progress
							div.progress-bar.progress-bar-success(style="width: 80%")
					li
						strong C#
						br
						div.progress
							div.progress-bar.progress-bar-success(style="width: 50%")

			div.col-lg-4
				h3 Others
				hr
				ul.list-unstyled
					li
						strong C
						br
						div.skill-details
							span.label.label-default AVR ATMega1280 &amp; 2560
						div.progress
							div.progress-bar.progress-bar-success(style="width: 70%")
					li
						strong Assembly
						br
						div.progress
							div.progress-bar.progress-bar-success(style="width: 40%")
					li
						strong Bash
						br
						div.progress
							div.progress-bar.progress-bar-success(style="width: 75%")
					li
						strong SQL
						br
						div.skill-details
							span.label.label-default MySQL
							span.label.label-default DQL
							span.label.label-default SQLite
							span.label.label-default Oracle
							span.label.label-info SQLAlchemy
						div.progress
							div.progress-bar.progress-bar-success(style="width: 80%")
							div.progress-bar.progress-bar-info(style="width: 15%")
					li
						strong Versioning
						br
						div.skill-details
							span.label.label-default Git
							span.label.label-default Mercurial
						div.progress
							div.progress-bar.progress-bar-success(style="width: 80%")
	hr
	div.row
		div.col-lg-4
			h2 Languages
			ul.list-unstyled
				li
					b.text-success French 
					|	- Mothertongue
				li
					b.text-success English 
					| - Spoken and written fluently
		div.col-lg-4
			h2 Operating Systems
			ul.list-unstyled
				li
					span.icomoon-tux
					| &nbsp; Linux
				li
					span.icomoon-windows8
					| &nbsp; Windows
		div.col-lg-4
			h2 Softwares
			ul.list-unstyled
				li
					b.text-success Sublime Text, Git, Grunt
				li
					| Eclipse, Visual Studio, Atmel
				li
					| Maple, Suite Office, Photoshop