@media (min-width: @screen-md-min) {
  .main-content {
    min-height: 500px;
  }
}
@media (max-width: @screen-sm-max) {
  .main-content {
    min-height: 300px;
  }
}
@media (max-width: @screen-xs-max) {
  .main-content {
    min-height: 200px;
  }
}
body {
	border-top: 6px @brand-success solid;
	padding-top:15px;
}
.section-header {
  margin-left: 20px;
  border-left: 6px #18bc9c solid;
}

/*--------------------------*/
/* scrollbar */
::-webkit-scrollbar {
    width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: @brand-primary;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: @brand-primary; 
}
