.footer {
	.footer-logos {
		li {
			height:51px;
		}
		.footer-angular {
			font-size:6em;
			height:51px;
			&:hover {
				color: darken(@brand-success, 8%);
				text-decoration: none;
			}
		}
		.footer-node {
			font-size:2em;
			&:hover {
				color: darken(@brand-success, 8%);
				text-decoration: none;
			}
		}
	}
}