div.footer
	div.container
		//-
			div.row
				div.col-lg-12
					div.col-lg-4
						div.col-lg-6
							ul.list-unstyled
								li
									p.text-muted Navigation
								li(ng-repeat='item in data.links.navigation' ng-class="{ active: item.link==data.location.path()}")
									a.navigation(href='{{ item.link }}')
										| {{ item.name }}
						div.col-lg-6
							ul.list-unstyled
								li
									p.text-muted Social
								li(ng-repeat='item in data.links.social')
									a.social(href='{{ item.link }}' target="_blank" class='social-{{ item.class }}')
										| {{ item.name }}
					div.col-lg-8
						ul.list-unstyled.pull-right
							li
								b Powered by
							li
								ul.list-unstyled.footer-logos.pull-right
									li
										a.icomoon-AngularJS(href="http://angularjs.org" target="_blank" class="footer-angular")
									li
										a.icomoon-nodejs_light(href="http://nodejs.org" target="_blank" class="footer-node")
			hr
		div.row
			div.col-lg-12
				p.pull-left.text-muted
					| Created in {{ data.info.date_creation | date: 'MMMM yyyy' }} by 
					a(href='/about/')
						| {{ data.info.author }}
				p.pull-right
					a.btn.btn-default.btn-success(target="_blank" href="{{ data.info.repository }}")
						| Browser the source code on &nbsp;&nbsp;
						i(class="typcn typcn-social-github-circular")
