block head
	head
		meta(charset='utf8')
		base(href='/')
		title nicolasbrugneaux.me
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="author", content="Nicolas Brugneaux")
		meta(name="description", content="Software Developer and Passionate ICT student charmed by web design and development.")
		meta(name="keywords", content="nicolas brugneaux, nicolasbrugneaux, nicolas, brugneaux, web, design, development, international, student, blog, HTML, CSS, jQuery, JavaScript, CV, curriculum, vitae, curriculum vitae, AngularJS, Angular, CoffeeScript, Coffee, Node, Nodejs, Heroku, LESS, bootstrap, grunt")
		// Le style
		link(rel='stylesheet', href='stylesheets/style.css')