extends layout

block body
	div.main-content(ng-controller='AppCtrl')
		div.container
			div(ng-view)

block scripts
	// Les Scripts

	script(src='scripts/lib/vendor/jquery/jquery-1.10.2.js')
	script(src='scripts/lib/vendor/bootstrap/bootstrap.js')
	script(src='scripts/lib/vendor/angular/angular.js')
	script(src='scripts/lib/vendor/ngProgress/ngProgress.js')
	script(src='scripts/app.js')
	script(src='scripts/services.js')
	script(src='scripts/controllers.js')
	script(src='scripts/filters.js')
	script(src='scripts/directives.js')
	script(src='scripts/menu.js')
