!!!
html(xmlns:ng="http://angularjs.org" class="ng-app:myApp" ng-app="myApp" id="ng-app")
	block head
		include head
	body(ng-controller="MainCtrl" ng-init="init()")
		block notifications
			include notifications
		block body
		hr
		block footer
			include footer
		block nav
			include nav
		block scripts