!!!
html(ng-app="myApp")
	block head
		include head
	body(ng-controller="MainCtrl" ng-init="init()")
		block notifications
			include notifications
		block body
		hr
		block footer
			include footer
		block nav
			include nav
		block scripts