!!!
html(ng-app="myApp")
	head
		meta(charset='utf8')
		base(href='/')
		title nicolasbrugneaux.me
		// Le style
		link(rel='stylesheet', href='stylesheets/style.css')
	body(ng-controller="MainCtrl" ng-init="init()")
		block notifications
			include notifications
		block body
		hr
		block footer
			include footer
		block nav
			include nav
		block scripts
			include scripts
