//- block comment
	header
		div.container.navigation
			div.col-lg-12
				ul.nav.nav-pills.pull-right
					li(ng-repeat="item in data.links.navigation" ng-class="{ active: item.link==data.location.path()}")
						a(href="{{ item.link }}") {{ item.name }}
				a.navbar-brand(href="/") {{ data.info.name }}
		// /.navigation
nav#bt-menu.bt-menu.bt-menu-close
	a(href="#").bt-menu-trigger
		span Menu
	ul.nav-menu
		li(ng-repeat="item in data.links.navigation" ng-class="{ active: item.link==data.location.path()}")
			a(href="{{ item.link }}") {{ item.name }}
	ul.social-menu
		li(ng-repeat="item in data.links.social")
			a.btn-icon.has-tooltip(target="_blank" href="{{ item.link }}" class="icon-social-{{ item.class }}"
				data-toggle="tooltip" data-placement="top" title="{{ item.name }}" data-original-title="{{ item.name }}")
		li
			a.btn-icon.has-tooltip(href="/public/CV.pdf" target="_blank" class="icon-download"
				data-toggle="tooltip" data-placement="top" title="Download my CV" data-original-title="Download my CV")
