block scripts
	// Les Scripts

	script(src='scripts/lib/vendor/jquery/jquery-1.10.2.min.js')
	script(src='scripts/lib/vendor/bootstrap/bootstrap.min.js')
	script(src='scripts/lib/vendor/angular/angular.min.js')
	script(src='scripts/lib/vendor/ngProgress/ngProgress.min.js')
	script(src='scripts/lib/vendor/angular/angular-sanitize.min.js')
	script(src='scripts/scripts.min.js')
	script(src='scripts/lib/vendor/google/ga.js')
